[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
requests = "*"
anthropic = "*"
pydantic = "*"
alembic = "*"
pydantic-settings = "*"
scrapy = "*"
crochet = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.11"
